@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

:root {
    --white: white;
    --light-white: rgb(231, 231, 231);
    --red: red;
    --orange: orange;
    --border-color: rgb(128, 128, 128);
    --shadow-color: rgba(88, 88, 88, 0.493);
    --grey-text-color: rgba(155, 155, 155, 0.872);
    --black-text-color: rgb(35, 35, 35);

    --position-index-first: 1000;
    --position-index-second: 2000;
    --position-index-third: 3000;
    --position-index-fourth: 4000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
    color: var(--black-text-color);
}

img {
    display: block;
    width: 100%;
}

.price::before {
    content: '$';
}